* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e50914;
}

.App {
  font-family: sans-serif;
  max-width: 800px;
  margin: 1rem auto;
  padding: 2rem;
}

h1 {
  padding: 0.5rem 1rem;
  color: #fff;
}

.App p {
  margin: 0 0 0.5rem 1rem;
  color: #fff;
}

hr {
  margin-top: 1rem;
}

.genreBtn {
  padding: 0.4rem 1.2rem;
  margin: 0.5rem 0 0 1rem;
  border-radius: 0.3rem;
  outline: none;
  border: solid 1px #fff;
  font-size: 0.9rem;
  background: #fff;
  font-weight: bold;
  color: #e50914;
}

.genreBtn:hover {
  background: #e50914;
  color: #fff;
}

.animeList ul {
  list-style: none;
}

.animeList li {
  width: 80%;
  margin: 1rem;
  border: solid 1px #fff;
  padding: 0.8rem 2rem 1rem 1rem;
  border-radius: 0.5rem;
  /* background: #ecf7ff; */
  /* box-shadow: 4px 4px 8px #000; */
  color: #000;
  background: #fff;
}

.name {
  font-weight: bold;
  font-size: 1.4rem;
}

.rating {
  padding-left: 0.3rem;
  font-weight: bold;
}

.desc {
  padding-top: 0.5rem;
  font-weight: bold;
}
